<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consumindo uma API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">API do Chuck Norris</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<div *ngFor="let advice of listaConselhos" id="container">
    <strong>{{advice.advice}}</strong>
    <p>Resultados no console</p>
  </div>-->
  <ion-content>
    <ion-grid>
      <ion-row>
        <h1><strong>Conselhos</strong></h1>
      </ion-row>
      <ion-row *ngFor="let listaConselho of listaConselhos; let i = index">
        <ion-item button ><h3 [innexText]="lista.Conselhos"></h3></ion-item>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-content>